<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Healthcare and Lifesciences Symposum 2024 - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <script async src="https://unpkg.com/es-module-shims@0.13.1/dist/es-module-shims.js"></script>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>  
<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><span><a href="index.html">HCLS</a> @ <a href="https://www.knowledgegraph.tech">KGC</a></span></h1>
        <!-- <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a> -->
      </div>

      <div id="navbar-placeholder">
        <!-- This is where the navbar gets inserted -->
      </div>  
      <script>
        $(function(){
          $("#navbar-placeholder").load("navbar.html", function() {
            // Initialize the scroll functionality here
            // For example, if you are using Bootstrap's scrollspy or a custom function, initialize it here.
            // If you are using a function from `assets/js/main.js`, call that function here.
            
            // Example: Assuming `initScroll` is a function in `assets/js/main.js` that sets up the scrolling
            if (typeof initScroll === "function") { 
              initScroll();
            }
          });
        });
        </script>

      <!-- <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">The <br><span>Healthcare and Life Sciences</span> Symposium</h1>
      <p class="mb-4 pb-0">7 May 2024 (Hybrid)</p>
      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
      <a href="#about" class="about-btn scrollto">About The KGC-HCLS symposium</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>The Healthcare and Life Sciences Symposium is co-located with the <a href="https://www.knowledgegraph.tech">2024 Knowledge Graph Conference</a>.</p>
            <p>We seek original contributions describing theoretical and practical methods and techniques for building and maintaining health knowledge graphs for the healthcare and life sciences domain.
 
              The symposium will cover topics around data integration, data profiling, data curation, querying, knowledge discovery, ontology mapping, matching, reconciliation, machine learning / generative AI approaches, and applications.
               
              We will have several invited speakers who are thought leaders in the healthcare and life sciences space. Furthermore, we plan to have a panel discussion comprising experts from industry, government, and academia. In summary, the primary objectives of this symposium will be to provide a platform to discuss:
              <ul>
                <li>Characterisation of healthcare and life sciences knowledge graphs</li>
                <li>Opportunities for the application of knowledge graphs in healthcare and life sciences</li>
                <li>Challenges of creating and maintaining such knowledge graphs</li>
                <li>Opportunities for knowledge graph research in this space</li>
              </ul>
          </p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Please see the <a href="https://www.knowledgegraph.tech">Knowledge Graph Conference</a> website for more details about registration and participation.</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <!-- <p>6<sup>th</sup> May 2024</p> -->
            <p>Tuesday, May 7, 2024</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= CFP Section ======= -->
    <section id="submissions" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-header">
              <br>
              <h2>Call for Extended Abstracts</h2>
            </div>
            <p>We invite extended abstracts for presentations that include discussions related to the following topics in Healthcare and Life Sciences (HCLS).</p>
            <ul>

              <li>Reasoning, querying, generative AI coordinating / working with an HCLS knowledge graph</li>
 
              <li>Applications of knowledge graphs to HCLS or perspectives on the use of knowledge graphs in HCLS</li>
 
              <li>Models and ontologies to represent applied HCLS knowledge graphs</li>
 
              <li>Interoperability aspects when integrating HCLS data from disparate sources (e.g EHR, Claim, 'Omics, ELN, LIMS, competitive intelligence)</li>
 
              <li>Adaptively contextualizing HCLS knowledge graphs or building visualizations dynamically from an HCLS knowledge graph</li>
 
              <li>HCLS knowledge graphs as applied for digital twin use cases (e.g. biological sample tracking, lab instrument tracking)</li>
 
              <li>Advanced techniques for keeping HCLS knowledge graphs, taxonomies, controlled vocabularies current</li>
 
              <li>Ensuring privacy and security for an HCLS knowledge graph while enabling use cases for federation (eg. federated learning, federated analysis, federated querying)</li>
 
              <li>Real world evidence (RWE) use cases that create or consume HCLS knowledge graphs</li>
 
            </ul>
          <p>The extended abstracts must be 1-page long (references excluded), in single-column (full page) format, with at least 1-inch margins, and font size of 11pt (times roman) or higher.</p>
          <p>Please submit your abstracts at <a href="https://easychair.org/conferences/?conf=kgchcls24">https://easychair.org/conferences/?conf=kgchcls24</a> no later than <b>Jan 31, 2024 11:59 AoE</b>.</p>
          <!-- <p> SUBMISSIONS ARE CLOSED!</p> -->

          <h3>Important Dates</h3>
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <td>Abstract Deadline</td>
                <td><b>Jan 31, 2024 11:59 AoE</b></td>
              </tr>
              <tr>
                <td>Acceptance Notifications</td>
                <td>February 28, 2024 11:59 AoE</td>
              </tr>
              <tr>
                <td>Symposium Presentations</td>
                <td>May 7, 2024 09:00-16:00 EST<br/></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </section>
    <!-- End CFP Section -->

    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Schedule</h2>
        </div>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

            <p><sup>*</sup><i>All times are in EDT.</i></p>

            <div v-for="session in schedule">
              <div class="row schedule-item">
                <h4>{{session.label}}<span></span></h4>
                <p v-if="session.chair"><b>Chair:</b> {{session.chair}}</p>
              </div>


              <div v-for="p in session.presentations" class="row schedule-item">
                <div class="col-md-2"><time>{{p.time}}</time></div>
                <div class="col-md-10" v-if="p.presenter">
                  <div class="speaker">
                    <img v-bind:src="people[p.presenter].image" v-bind:alt="people[p.presenter].name">
                  </div>
                  <h4><span>{{people[p.presenter].name}} - {{people[p.presenter].affiliation}}</span></h4>
                  <p>{{people[p.presenter].title}} [{{p.status}}] </p>
                </div>
                <div class="col-md-10" v-if="!p.presenter">
                  <h4>
                    {{p.label}} <span></span>
                  </h4>
                </div>
              </div>
            </div>
      </div>
    </section>
    <!-- End Schedule Section -->

    <!-- ======= organizers Section ======= -->
    <section id="organizers">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <br>
          <h2>Organizers</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div v-for="o in organizers" class="col-lg-3 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img v-bind:src="people[o].image" v-bind:alt="people[o].name" class="img-fluid rounded mx-auto d-block">
              <div class="details">
                <h3><a v-bind:href="people[o].page">{{people[o].name}}</a></h3>
                <p>{{people[o].affiliation}}</p>
              </div>
            </div>
          </div>
    </div>
  </div>


    </section><!-- End organizers Section -->
    <!-- ======= Speakers Section ======= -->

    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Speakers</h2>
        </div>

        <h3>Keynote Speakers</h3>

        <div class="row">

          <div v-for="person in keynotes" class="card" style="width: 24rem;">
            <a v-bind:href="people[person].more">
              <img v-bind:src="people[person].image"  style="height:23rem; padding-top:0.75rem" class="card-img-top" v-bind:alt="people[person].name">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{people[person].name}}</h5>
                <p class="card-text">{{people[person].affiliation}}</p>
                <br/>
                <a v-bind:href="people[person].more" class="btn btn-primary mt-auto">Speaker Bio & Talk Abstract</a>
              </div>
            </a>
          </div>
      </div>

      <br>
      <hr>

    <!--  
    <h3>Session Speakers</h3>

    <div class="row">
      <div v-for="person in presenters" class="card" style="width: 18rem;">
        <img v-bind:src="people[person].image" style="height:17rem; padding-top:0.75rem" class="card-img-top" v-bind:alt="people[person].name">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{people[person].name}}</h5>
          <p class="card-text">{{people[person].affiliation}}</p>
        </div>
      </div>
  </div>

  <br>
  <hr>


<h3>Sponsor Speaker</h3>

<div class="row">
  <div v-for="person in sponsor_speakers" class="card" style="width: 18rem;">
    <img v-bind:src="people[person].image" style="height:17rem; padding-top:0.75rem" class="card-img-top" v-bind:alt="people[person].name">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{people[person].name}}</h5>
      <p class="card-text">{{people[person].affiliation}}</p>
    </div>
  </div>

</div> -->

</section>
    <!-- End Speakers Section -->

    <!-- ======= Sponsors Section ======= -->
    <section id="sponsors">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/sponsors/ELS.png" alt="Elsevier" class="img-fluid"></a>
              <div class="details">
                <!-- <h3>Elsevier</h3> -->
                <!-- <p>HCLS SPONSOR</p> -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/sponsors/SciBite.png" alt="SciBite" class="img-fluid"></a>
              <div class="details">
                <!-- <h3>SciBite</h3> -->
                <!-- <p>KGC PARTNER SPONSOR, HCLS SPONSOR</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- End Sponsors Section -->

    <!-- ======= Subscribe Section ======= -->
    <!-- <section id="subscribe">
      <div class="container" data-aos="zoom-in">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
        </div>

        <form method="POST" action="#">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <input type="text" class="form-control" placeholder="Enter your Email">
              <button type="submit" class="ms-2">Subscribe</button>
            </div>
          </div>
        </form>

      </div>
    </section> -->
    <!-- End Subscribe Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-with-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
          Please email the organizers at kgchcls24 AT easychair.org
          <!-- <div class="d-flex justify-content-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLz7kJZrzzHwUzFeN2KPsCd7UA3NLiOCaNX2ohg7OM5A6-WQ/viewform?embedded=true" width="640" height="725" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div> -->
        </div>

      </div>
    </section>

    <!--  </section> -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2024 <strong>The KGC HCLS 2024 Symposium</strong>. All Rights Reserved.

        <p><small>Background Image Credit: <a href="https://pxhere.com/en/photographer/767067?utm_content=clipUser&utm_medium=referral&utm_source=pxhere">mohamed_hassan</a> from <a href="https://pxhere.com/en/photo/1451109">PxHere</a> (CC0 Public Domain)</small></p>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<script type="module">
import { createApp } from 'vue'

var data = {
  schedule: [
    {
      label: "Keynote 1",
      chair: "Tom Plasterer",
      presentations: [
        {
          time: '09:00 AM',
          presenter: 'Hans_Constandt',
          status: "45 mins + 15 mins Q&A"
        }
      ]
    },
    {
      label: "Panel Discussion #1",
      chair: "Deborah McGuinness",
      presentations: [
        {
          time: "10:00 AM",
          presenter: 'panel1',
          status: "30 mins"},      
      ]
    },
    {
    label: "Break & Exhibitors",
      presentations: [
        {
          time: '10:30 AM',
          label: "Coffee Break"
        },
        
      ]
    },
    {
      label: "Sponsor Talk",
      presentations: [
        {
          time: '11:00 AM',
          presenter: 'AstraZeneca',
          status: "30 mins"
        },
      ]
    },
    {
      label: "Paper Session 1 (3 regular talks):",
      chair: "TBD",
      presentations: [
        {
          time: '11:30 AM',
          presenter: 'maulik_kamdar',
          status: "15 mins + 5 mins Q&A"
        },
        {
          time: '11:50 AM',
          presenter: 'Adrianna_Janik',
          status: "15 mins + 5 mins Q&A"
        },
        {
          time: '12:10 PM',
          presenter: '',
          status: "15 mins + 5 mins Q&A"
        },
        {
          time: '12:30',
          label: "Lunch Break (60 mins)",
        },
      ]
    },
    {
      label: "Keynote 2",
      chair: "TBD",
      presentations: [
        {
          time: '1:30 PM',
          presenter: 'Subha_Madhavan',
          status: "In Person"
        }
      ]
    },
    {
      label: "Paper Session 2 (5 short talks):",
      chair: "TBD",
      presentations: [
        {
          time: '2:30 PM',
          presenter: 'sujit_pal',
          status: "5 mins"
        },
        {
          time: '2:35 PM',
          presenter: 'Henrique_Santos',
          status: "5 mins"
        },
        {
          time: '2:40 PM',
          presenter: 'deborah_mcguinness_short_talk',
          status: "5 mins"
        },
        {
          time: '2:45 PM',
          presenter: '',
          status: "5 mins"
        },
        {
          time: '2:50 PM',
          presenter: '',
          status: "5 mins"
        },
        // {
        //   time: '2:55 PM',
        //   presenter: 'session2q&a',
        //   status: "5 mins"
        // },
      ]
    },
    {
    label: "Break & Exhibitors",
      presentations: [
        {
          time: '3:00 PM',
          label: "Ontofoce Roundtable"
        },
        
      ]
    },
    {
      label: "Paper Session 3 (2 regular talks):",
      chair: "TBD",
      presentations: [
        {
          time: '3:30 PM',
          presenter: 'brian_martin',
          status: "15 mins + 5 mins Q&A"
        },
        {
          time: '3:50 PM',
          presenter: 'elisa_kendall',
          status: "15 mins + 5 mins Q&A"
        },
      ]
    },
    {
      label: "Panel Discussion #2",
      chair: "TBD",
      presentations: [
        {
          time: "04:10 PM",
          presenter: 'panel2',
          status: "40 mins"},      
      ]
    },
    {
      label: "Closing Remarks",
      presentations: [
        {
          time: '4:50 PM',
          label: "Symposium Closing and Happy Hour Announcement"
        }
      ]
    },

  ],
  people: {
    'Hans_Constandt': {
      name: "Hans Constandt",
      page: "https://www.linkedin.com/in/hansconstandt",
      image: "assets/img/speakers/Hans_Constandt.jpeg",
      affiliation: "FAQIR",
      title: "Revolutionizing Healthcare in Europe: Unleashing the Power of Knowledge Graphs for Personal Health Data Vaults",
      more: "hans.html"
    },
    'Subha_Madhavan': {
      name: "Subha Madhavan",
      page: "https://www.linkedin.com/in/subhamadhavan",
      image: "assets/img/speakers/Subha_Madhavan.jpg",
      affiliation: "Pfizer",
      title: "TBD",
      more: "subha.html"
    },
    'jamie_mccusker': {
      name: "Jamie McCusker",
      page: "https://tw.rpi.edu/person/JamieMcCusker",
      image: "assets/img/organizers/jamie.jpeg",
      affiliation: "Rensselaer Polytechnic Institute",
    },
    'deborah_mcguinness': {
      name: "Deborah McGuinness",
      page: "https://tw.rpi.edu/web/person/Deborah_L_McGuinness",
      image: "assets/img/organizers/deborah.jpg",
      affiliation: "Rensselaer Polytechnic Institute",
    },
    'helena_deus': {
      name: "Helena Deus",
      image: "assets/img/organizers/lena.jpg",
      page: "https://www.linkedin.com/in/helenadeus/",
      affiliation: "EPAM",
    },
    'tom_plasterer': {
      name: "Tom Plasterer",
      page: "https://www.linkedin.com/in/tplasterer",
      image: "assets/img/organizers/tom.jpg",
      affiliation: "AstraZeneca"
    },
    'oshani_seneviratne': {
      name: "Oshani Seneviratne",
      page: "https://idea.rpi.edu/people/staff/oshani-seneviratne",
      image: "assets/img/organizers/oshani.jpg",
      affiliation: "Rensselaer Polytechnic Institute"
    },
    'ted_slater': {
      name: "Ted Slater",
      page: "https://www.linkedin.com/in/tedslater/",
      image: "assets/img/organizers/ted.jpeg",
      affiliation: "EPAM Systems"
    },
    'maulik_kamdar': {
      name: "Maulik R Kamdar",
      page: "https://maulik-kamdar.com",
      image: "assets/img/speakers/Maulik.jpeg",
      affiliation: "Optum Health",
      title: "Knowledge Engineering in Clinical Decision Support: When a Graph Representational Model is not Enough",
    },
    'Adrianna_Janik': {
      name: "Adrianna Janik",
      page: "https://adrijanik.github.io",
      image: "assets/img/speakers/Adrianna.jpeg",
      affiliation: "Accenture Labs ",
      title: "Recurrence Prediction in Early-Stage Lung Cancer Patients Utilising Knowledge Graph Embedding Models on Patient Data Enriched with Medical Background Knowledge",
    },
    'brian_martin': {
      name: "Brian Martin",
      page: "https://www.linkedin.com/in/brianm1028",
      image: "assets/img/speakers/Brian.jpeg",
      affiliation: "Abbvie",
      title: "Graphs for Good - Hypotheses Generation for Rare Disease Treatment",
    },
    'elisa_kendall': {
      name: "Elisa Kendall",
      page: "https://www.linkedin.com/in/elisakendall",
      image: "assets/img/speakers/Elisa.jpeg",
      affiliation: "Thematix Partner LLC and EDM Council",
      title: "The Identification of Medicinal Products Ontology (IDMP-O) – Current Status and Next Steps Beyond 1.0",
    },
    'panel1': {
      name: "Hans Constandt, Jans Aasman, Others TBD",
      title: "Future of Personalized Health with Knowledge Graphs",
      affiliation: "FAQIR, Franz Inc, ...",
      title: "Future of Personalized Health with Knowledge Graphs"
    },
    'panel2': {
      name: "Subha Madhavan, Berenice Wulbrecht, Others TBD",
      title: "Generating and Querying Graphs with LLM",
      affiliation: "Pfizer, Ontoforce, ...",
    },
    'AstraZeneca': {
      name: "Speaker TBD",
      page: "",
      // image: "",
      affiliation: "AstraZeneca",
      title: "TBD",
    },
    'session1q&a': {
      title: "Session 1 Short Paper Q&A",
    },
    'session2q&a': {
      title: "Session 2 Q&A",
    },
    'sujit_pal': {
      name: "Sujit Pal",
      page: "https://www.linkedin.com/in/sujitpal/",
      image: "assets/img/speakers/Sujit.jpeg",
      affiliation: "Elsevier Labs",
      title: "A Scalable and Robust Named Entity Recognition and Linking System for a Clinical Healthcare Knowledge Graph",
    },
    'Henrique_Santos': {
      name: "Henrique Santos",
      page: "https://tw.rpi.edu/person/HenriqueSantos",
      image: "assets/img/speakers/Henrique.jpeg",
      affiliation: "Rensselaer Polytechnic Institute",
      title: "Psychometric Assessment Issues and Potential Opportunities",
    },
    'deborah_mcguinness_short_talk': {
      name: "Deborah McGuinness",
      page: "https://tw.rpi.edu/web/person/Deborah_L_McGuinness",
      image: "assets/img/organizers/deborah.jpg",
      affiliation: "Rensselaer Polytechnic Institute",
      title: "Towards an Ontology of Psychometric Measures"
    },

  },
  keynotes: [
    'Hans_Constandt',
    'Subha_Madhavan',
  ],
  presenters: [
    'maulik_kamdar',
    'Adrianna_Janik',
  ],
  organizers: [
    'helena_deus',
    'jamie_mccusker',
    'tom_plasterer',
    'deborah_mcguinness',
    'oshani_seneviratne',
    'ted_slater'
  ],
  sponsor_speakers: [
  ]
}


createApp({
  data() {
    return data;
  },
  methods: {
    getPersonDetails(personKey) {
      return this.people[personKey];
    }
  }
}).mount('#main');
</script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


</body>

</html>
